body{
    background-color: rgba(250, 22, 34, 0.7);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item{
    display: flex;
    align-items: center;
    align-content: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}